<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

        <meta name="author" content="Matthew Kosloski"/>
        <meta name="copyright" content="Matthew Kosloski"/>
        <meta name="keywords" content="web designer, web developer, matthew kosloski, front-end development, css3, html5, dribbble, twitter, instagram, javascript, search engine optimization, jquery, responsive web design"/>
        <meta name="description" content="My name is Matthew, and I'm a 17-year-old front-end web developer and designer from Chicago.  I specialize in front-end development, responsive web design, and search engine optimization.  I have an eternal passion and curiosity for how things work, and I strive to overcome the challenging prerequisites."/>

        <meta property="og:title" content="{{ page.title }}"/>
        <meta property="og:type" content="website"/>
  		<meta property="og:site_name" content="{{ site.name }}"/>
  		<meta property="og:url" content="{{ page.url }}"/>
  		<meta property="og:description" content="My name is Matthew, and I'm a 17-year-old front-end web developer and designer from Chicago.  I specialize in front-end development, responsive web design, and search engine optimization.  I have an eternal passion and curiosity for how things work, and I strive to overcome the challenging prerequisites."/>

        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:url" content="{{ page.url }}"/>
        <meta name="twitter:title" content="{{ page.title }}"/>
        <meta name="twitter:description" content="My name is Matthew, and I'm a 17-year-old front-end web developer and designer from Chicago.  I specialize in front-end development, responsive web design, and search engine optimization.  I have an eternal passion and curiosity for how things work, and I strive to overcome the challenging prerequisites."/>
        <meta name="twitter:image" content="{{ site.url }}/img/twitter.png">

        <title>{{ site.name }} &mdash; {% if page.title %}{{ page.title }}{% endif %}</title>

        <link rel="icon" type="image/png" href="{{ site.url }}/img/favicon.png">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="{{ site.url }}/css/style.css"/>
        <link rel="stylesheet" href="{{ site.url }}/css/colorbox.css">
    </head>
    <body>

    	{% include header.html %}