---
layout: default
title: Journal
title_icon: "pe-7s-notebook"
title_text: I write about paramount things.
---

<section class="main journal">
{% for post in site.categories.journal %}

  {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if currentyear != year %}
    <h2>{{ currentyear }}</h2>
    {% capture year %}{{currentyear}}{% endcapture %} 
  {% endif %}
  <ul class="posts-in-year">
    <li><p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%B %d" }}</p></li>
  </ul>
  
{% endfor %}
</section>
