---
layout: default
title: Work
title_icon: "pe-7s-portfolio"
title_text: Here's a brief showcase of my work.
---

<section class="main">

	<div class="grid">

    	{% for weight in (1..9) %}

       		{% for post in site.categories.project %}
          		{% if post.weight == weight %}
            		<div id="shot" class="shot grid__col--1-of-3">
        				<a class="overlay-link" href="{{ post.url }}">
        					<img src="{{ post.work_preview }}" alt="{{ post.title }}"/>
        					<span class="overlay"><i class="view pe-7s-glasses"></i></span>
        				</a>
                <p>{{ post.title }}</p>
   					</div>
          		{% endif %}
        	{% endfor %}

          {% for post in site.categories.link %}
              {% if post.weight == weight %}
                <div id="shot" class="shot grid__col--1-of-3">
                <a class="overlay-link" href="{{ post.link }}">
                  <img src="{{ post.work_preview }}" alt="{{ post.title }}"/>
                  <span class="overlay"><i class="view pe-7s-glasses"></i></span>
                </a>
                <p>{{ post.title }}</p>
            </div>
              {% endif %}
          {% endfor %}

          {% for post in site.categories.plain %}
              {% if post.weight == weight %}
                <div id="shot" class="shot grid__col--1-of-3">
                  <img src="{{ post.work_preview }}" alt="{{ post.title }}"/>
                <p>{{ post.title }}</p>
            </div>
              {% endif %}
          {% endfor %}

      {% endfor %}

    	<span id="a" style="display:none;"></span>

    </div>

</section>