{% include head.html %}
	{% include header.html %}
		<div class="row">
			<div class="article column large-9 large-centered medium-12 small-12">
				<section class="cf main">

					<article>
						<section class="article-title">
							<h1>{{ page.title }}</h1>
							<h2>{{ page.date | date: "%B %d, %Y" }}</h2>
						 	<hr class="article-sep">
						</section>
						{{ content }}
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.twitter }}">Tweet</a>
					</article>

					<ul class="cf post-attributes">
						<li>
							<h3>Published on</h3>
							<p>{{ page.date | date: "%B %d, %Y" }}</p>
						</li>
						<li>
							<h3>Word Count</h3>
							{% capture time %}{{ content | count_words }}{% endcapture %}
							<p>{{ time }}</p>
						</li>
						<li>
							<h3>Reading time</h3>
							{% capture time %}{{ content | reading_time }}{% endcapture %}
							<p>{{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %}</p>
						</li>
					</ul>

				</section>
			</div>
		</div>
{% include footer.html %}