/*******************************************************************************
 * CUSTOM RESETS && IMPORTS
 ******************************************************************************/

@import "normalize";
@import "reset";
@import "foundation-visibility";
@import "mixins";
@import "modules/modules";
@import "fonts";
@import "foundation-grid";
@import "breakpoints";
@import "pe-icon-7-stroke";
@import "colorbox";
@import "bourbon/bourbon";
@import "fancybox";

/*******************************************************************************
 * AUTHOR'S BASE
 ******************************************************************************/

$red: #df4747;
$darkRed: #d14141;
$white: #fff;
$bodyGray: #444;
$selectionGray: #f3f3f3;
$noticeGreen: #2ECC71;

html,
body {
    background-color: $white;
    color: $bodyGray;
    font: 112.5%/1.5 "ChaparralProRegular", Georgia, serif;
    @include breakpoint(md) {font-size: 105%;}
    @include breakpoint(sm) {font-size: 100%;}
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

@include selection {background-color: $selectionGray;}


/*******************************************************************************
 * AUTHOR'S STYLES
 ******************************************************************************/

a {
    color: $red;
    &:hover {
        color: $darkRed;
        text-decoration: none;
    }
}

.wrapper {
    position: relative;
    margin: 0 auto;
    padding: 0 22px;
    max-width: 100%;
    width: 960px;
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

p, 
pre, 
img, 
figure, 
ul, 
ol, 
.form-module, 
.photoset-grid-lightbox {
    margin: 0 0 25px 0;
}

/*******************************************************************************
 * TYPOGRAPHY
 ******************************************************************************/

h1, 
h2 {
    margin: 0 0 15px 0;
}

b,
strong {
    font-family: "ChaparralProBold", Georgia, serif;
    font-weight: 700;  
}

em {
    font-family: "ChaparralProItalic", Georgia, serif;
    font-weight: 400;
}

h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
}


h1 {
    color: $red;
    font-size: rem(40);
}

h2 {
    font-family: "AvenirNextLTProMedium", "Lucida Grande", Arial, sans-serif;
    font-weight: 400;
    font-size: rem(24);
}

h3 {
    font-size: rem(20);
    text-transform: uppercase;
    font-family: "ChaparralProBold", Georgia, serif;
}

h4 {
    font-size: rem(13);
}

h6 {
    color: #666;
    font-size: rem(13);
    text-transform: uppercase;
    font-family: "AvenirNextLTProBold", "Lucida Grande", Arial, sans-serif;
    letter-spacing: 0.755px;
}

h4,
h5 {
    font-family: "AvenirNextLTProRegular", "Lucida Grande", Arial, sans-serif;
    letter-spacing: 0.755px;
    color: inherit;
}

code, 
pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 75%;
}

code {
    color: $red;
}

pre {
    background-color: $selectionGray;
    word-wrap: break-word;
    padding: 10px;
}

/*******************************************************************************
 * STYLES
 ******************************************************************************/

 article {
    img {
        margin-bottom: 0 !important;
    }
 }

.logo {
    margin: 1px 0 0 0;
    text-align: left;
    font-size: rem(22); 
    font-family: "AvenirNextLTProRegular", "Lucida Grande", Arial, sans-serif;
    a {
        color: #666;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}

header,
footer {
    @include breakpoint(lg) {
        max-width: calc(100% - 30px);
        margin: 0 auto;
    }
    .column,
    .columns {
        padding-left: 0;
        padding-right: 0;
    }
}


header {
    padding: 90px 0 0 0;
    border-bottom: 1px solid $selectionGray;
    nav {
        margin: 5px 0 0 0;
        height: 59px;
        text-align: right;
        font-size: rem(18);
        padding: 0;
        @include breakpoint(sm) {
            text-align: left;
        }
        a {
            display: inline-block;
            height: 60px;
            border-bottom: 1px solid transparent;
            color: #888;
            text-decoration: none;
            @include transition(all 0.2s ease);
            &:not(.logo):hover {
                border-bottom: 1px solid $red;
                color: $bodyGray;
                @include transition(all 0.2s ease);
            }
            &:not(:first-child) {
                margin: 0 0 0 45px;
                @include breakpoint(md) {
                    margin: 0 0 0 20px;
                }
            }
        }
    }

}

.active {
    border-bottom: 1px solid $red;
    color: $bodyGray;
    @include transition(all 0.2s ease);
}

.title {
    padding: 100px 0 0 0;
    text-align: center;
    h1, p {
        margin: 0;
    }
    p {
        padding: 15px 0 23px 0;
    }
    hr {
        margin: 0 auto;
        width: 3em;
        border-bottom: 2px solid $selectionGray;
    }
}

i[class*="pe-7s-"],
span[class*="pe-7s-"] {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: $red;
    font-weight: normal;
    font-size: rem(50);
}

.main {
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
}

figure {
    img {
        margin: 0 0 8px 0;
    }
}

figcaption {
    position: relative;
    padding: 0;
    background: transparent;
    color: inherit;
    line-height: 28px;
    font-size: rem(15);
    font-family: "AvenirNextLTProRegular", "Lucida Grande", Arial, sans-serif;
}

.me {
    img {
        @include breakpoint(md) {
            margin: 0 0 25px 0;
        }
    }
    figcaption {
        @include breakpoint(md) {
            position: relative;
            padding: 0;
            background: transparent;
            color: inherit;
            font-size: rem(15);
            line-height: 1.4;
        }
    }
}

footer {
    font-size: 80%;
    @include breakpoint(md) {
        font-size: 100%;
    }
    @include breakpoint(sm) {
        font-size: 100%;
    }
    margin-bottom: 100px;
    padding: 45px 0 0 0;
    border-top: 1px solid $selectionGray;
    border-bottom: 1px solid $selectionGray;
    .footer-about {
        @extend p;
        width: 85%;
    }
    .foot-note {
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 25px;
    }
    ul {
        list-style: none;
        li {
            &:first-child {
                @extend h6;
            }
        }
    }

}

.center {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 2px 20px 0 20px;
    height: 48px;
    @include border-radius(999px);
    background-color: $red;
    color: $white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: rem(15);
    font-family: "AvenirNextLTProMedium", "Lucida Grande", Arial, sans-serif;
    line-height: 48px;
    cursor: pointer;
    &:hover {
        background-color: $darkRed;
        color: $white;
    }
}

.btn--small {
    font-size: .75rem;
    height: 44px;
    padding: 0px 20px;
}

.shot {
    &:last-child {
        @include breakpoint(lg) {
            display: none;
        }
        @include breakpoint(sm) {
            display: block;
        }
    }
}

.shot__container {
    position: relative;
    margin-bottom: 60px;
    a {
        display: block;
        &:hover {
            .overlay {
                opacity: 1;
                @include transition(all 0.15s ease-in-out);
                span {
                    @include animation(dropIn 0.25s ease-in-out); 
                }
            }
        }
    }
    img {
        display: block;
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto;
        @include border-radius(3px);
    }
    p {
        text-align: center;
        position: absolute;
        right: 0;
        bottom: -60px;
        left: 0;
    }
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        overflow: hidden;
        @include border-radius(3px);
        background-color: rgba(223,71,71,0.7);
        @include transition(all 0.15s ease-in-out);
        span {
            background-color: $red;
            position: absolute;
            top: 50%;
            right: 0;
            bottom: 0;
            left: 50%;
            @include transform(translateX(-50%) translateY(-50%));
            @include border-radius(100%);
            font-size: 40px;
            color: #fff;
            padding: 10px;
            width: 60px;
            height: 60px;
            margin: 0;
            &:active {
                background-color: $darkRed;
            }
        }
    }
}

@include keyframes(dropIn) {
    0% {
        @include transform(translateX(-50%) translateY(-999%));
    }
    50% {
        @include transform(translateX(-50%) translateY(-65%));
    }
    100% {
        @include transform(translateX(-50%) translateY(-50%));
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
}

/*******************************************************************************
 * PROJECTS
 ******************************************************************************/

.project-attributes {
    font-size: 85%;
    float: right;
    margin: 5px 0 0 0;
    list-style: none;
}

.post-attributes {
    margin: 15px 0 0 0;
    list-style: none;
    width: 100%;
    text-align: center;
}

.project-description {
    img {
        @include border-radius(3px);
        padding: 1px;
        background-color: #f0f0f0;
    }
}

/*******************************************************************************
 * JOURNAL
 ******************************************************************************/

.journal {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    width: 768px;
    h1 {
        color: $bodyGray;
        @extend h2;
    }
}

.posts-in-year {
    padding: 0 0 0 20px;
    list-style: none;
}

.post-attributes {
    float: left;
    margin-top: 70px;
    font-size: 85%;
    padding: 0;
    li {
        display: inline-block;
        width: 33.333%;
        float: left;
    }
}

.article-title {
    padding: 100px 0 70px 0;
    text-align: center;
    h1 {
        margin: 0;
        text-align: center;
    }
    h2 {
        text-align: center;
        font-size: rem(20);
        color: #888;
    }
    hr {
        padding: 0;
        margin: 0 auto;
        width: 3em;
        border-bottom: 2px solid $selectionGray;
    }
}

article {
    margin-top: -70px;
    &:not(:first-child) {
        margin: 0 0 70px 0;
    }
    hr {
        border: none;
        border-bottom: 2px solid $selectionGray;
        width: 6rem;
        padding-top: 1.4rem;
        margin: -2px auto 2.8rem;
    }
    section {
        padding: 30px 0 70px 0;
    }
    ul {
        list-style: disc;
    }
    blockquote {
        padding: 0 30px;
        font-family: "ChaparralProBoldItalic", Georgia, serif;
        font-weight: 700;
        font-style: italic;
    }
}

/*******************************************************************************
 * CONTACT
 ******************************************************************************/

form {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

input,
textarea,
.subject {
    border: 2px solid $selectionGray;
    font-size: rem(16);
    line-height: 18px;
    color: inherit;
    padding: 10px 15px;
    width: 100%;
    -webkit-appearance: none;
    @include border-radius(0px);
}

.subject {
    padding: 13px 18px;
    display: block;
}

label {
    display: block;
    padding: 0 0 5px 0;
}

input {
    height: 48px;
}

input,
textarea {
    @include placeholder {
        color: $bodyGray;
    }
    &:focus {
        border: 2px solid #e5e5e5;
    }
}

textarea {
    height: 200px;
    max-width: 100%;
}

.subject {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    &::after {
        content: "\e688";
        font-family: "pe-icon-7-stroke";
        font-size: rem(32);
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: #d4d4d4;
        font-weight: 600;
        height: auto;
        cursor: pointer;
    }
}

.drop-close::after{ 
    font-family: "pe-icon-7-stroke";
    content: "\e682";
}

.form-module {
    position: relative;
    span:not(.subject) {
        color: $red;
        margin-left: 1px;
    }
}

.subjects {
    list-style: none;
    font-size: rem(16);
    line-height: 2;
    padding: 10px 15px;
    border: 2px solid $selectionGray;
    margin-top: -2px;
    display: none;
    li {
        cursor: pointer;
        &:hover {
            color: #000;
        }
    }
    .subject {cursor: pointer;}
}

.notice {
    @include border-radius(3px);    
    margin: 0 0 15px 0;
    color: $white;
    height: 48px;
    text-align: left;
    line-height: 48px;
    padding: 0 15px;
    position: relative;
    [class^="pe-"] {
        font-size: em(25);
        text-align: left;
        display: inline-block;
        color: #fff;
        font-weight: 700;
        vertical-align: middle;
        margin: 0 10px 0 0;
        width: 32px;
        height: 32px;
    }
    a {
        color: $white;
        text-decoration: underline;
        &:hover {text-decoration:none;}
    }
    .pe-7s-check,
    .pe-7s-close-circle {
        line-height: 48px;
        vertical-align: middle;
        width: auto;
        height: 48px;
        float: left;
    }
    .pe-7s-close {
        opacity: 0.50;
        vertical-align: middle;
        line-height: 48px;
        cursor: pointer;
        float: right;
        width: auto;
        height: 48px;
        margin-right: 0;
        @include breakpoint(sm) {
            display: none;
        }
    }
}

.notice--green {
    background-color: $noticeGreen;
}
/* Differentiate between error class applied to labels and text areas */
label.error {
    @extend .notice;
    background-color: $red;
}