/*******************************************************************************
 * VARS
 ******************************************************************************/

$red: #df4747;
$darkRed: #d14141;
$white: #fff;
$bodyGray: #444;
$selectionGray: #f3f3f3;
$noticeGreen: #2ECC71;

/*******************************************************************************
 * CUSTOM RESETS && IMPORTS
 ******************************************************************************/
@import "bourbon/bourbon";
@import "normalize";
@import "reset";
@import "foundation-visibility";
@import "mixins";
@import "modules/modules";
@import "fonts";
@import "foundation-grid";
@import "breakpoints";
@import "pe-icon-7-stroke";
@import "colorbox";

/*******************************************************************************
 * AUTHOR'S BASE
 ******************************************************************************/

html,
body {
    background-color: $white;
    color: $bodyGray;
    font: 112.5%/1.5 "ChaparralProRegular", Georgia, serif;
    @include breakpoint(md) {font-size: 105%;}
    @include breakpoint(sm) {font-size: 100%;}
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

@include selection {background-color: $selectionGray;}


/*******************************************************************************
 * AUTHOR'S STYLES
 ******************************************************************************/

a {
    color: $red;
    &:hover {
        color: $darkRed;
        text-decoration: none;
    }
}

p, 
pre, 
img, 
figure, 
ul, 
ol, 
.form-module, 
.photoset-grid-lightbox {
    margin: 0 0 25px 0;
}

@import "typography";
@import "header-and-footer";

.title {
    padding: 100px 0 0 0;
    text-align: center;
    h1, p {
        margin: 0;
    }
    p {
        padding: 15px 0 23px 0;
    }
    hr {
        margin: 0 auto;
        width: 3em;
        border-bottom: 2px solid $selectionGray;
    }
}

i[class*="pe-7s-"],
span[class*="pe-7s-"] {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    color: $red;
    font-weight: normal;
    font-size: rem(50);
}

.main {
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
}

.center {
    text-align: center;
}

@import "figure";
@import "buttons";
@import "work";
@import "animations";
@import "projects";
@import "journal";
@import "contact";